<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397189912249-h5q9kqmspojrs0n51o7fad3j55jvv92f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397189912249-h5q9kqmspojrs0n51o7fad3j55jvv92f</string>
	<key>API_KEY</key>
	<string>AIzaSyCKh6z3azNm4L-ngIyP4tZGJ2UoR74SwXk</string>
	<key>GCM_SENDER_ID</key>
	<string>397189912249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrvncaragay.quickspree</string>
	<key>PROJECT_ID</key>
	<string>quickspree-37fe6</string>
	<key>STORAGE_BUCKET</key>
	<string>quickspree-37fe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397189912249:ios:c6d7df43fa652738c36d68</string>
	<key>DATABASE_URL</key>
	<string>https://quickspree-37fe6-default-rtdb.firebaseio.com</string>
</dict>
</plist>